In [196]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url="https://my1.raceresult.com/266852/RRPublish/data/pdf?name=Presenter%2FAnnouncer%7CLast%20Finishers&contest=0&lang=fr"

page=requests.get(url)

soup=BeautifulSoup(page.text,'html')

In [197]:
url="https://my1.raceresult.com/266852/RRPublish/data/list?key=c32693b41c83792c4af8a8bcf61c4aa0&listname=Presenter/Announcer|Last Finishers&page=results&contest=0&r=all&l=0"
#call the API that returns JSON
page=requests.get(url)

In [198]:
import json
result_json=page.json()

In [199]:
json.dumps(result_json, indent=4);

In [200]:
col_labels=[a["Label"] for a in result_json["list"]["Fields"]]

In [234]:
df=pd.DataFrame(columns=col_labels)
for i in range(len(result_json["data"])):
   df.loc[len(df)] = result_json["data"][i][1:-1]
df.index+=1

In [235]:
df

,Place,,Bib,Name,Gender,Age,City,State,Laps,Last Loop,Miles,RaceTime
1,1.,[img:flags/US.gif],5,Harvey Lewis,M,47,Cincinnati,OH,108,47:31,450.00,94:16:36
2,DNC,[img:flags/CA.gif],24,Ihor Verys,M,29,Chilliwack,BC,107,52:31,445.83,90:44:04
3,RTC,[img:flags/PL.gif],32,Bartosz Fudali,M,35,Wolsztyn,POL,103,53:25,429.16,80:26:55
4,DNC,[img:flags/JP.gif],13,Terumichi Morishita,M,43,Toyota City,JPN,101,58:40,420.83,81:50:09
5,DNC,[img:flags/AU.gif],1,Phil Gore,M,37,Darling Downs,AUS,100,58:45,416.66,77:17:47
...,...,...,...,...,...,...,...,...,...,...,...,...
71,OVER,[img:flags/PL.gif],35,Patryk Swietochowski,M,18,Minsk Mazowiecki,POL,25,55:20,104.16,21:08:19
72,OVER,[img:flags/VN.gif],71,Van Da Bui,M,45,Ho Chi Minh,VNM,24,45:47,100.00,17:48:18
73,RTC,[img:flags/BR.gif],72,Rene Romualdo Cunha,M,44,Santa Cruz Do Capibaribe,BRA,23,48:27,95.83,16:21:39
74,OVER,[img:flags/FR.gif],47,Fabrice Puaud,M,55,Mignaloux-Beauvoir,FRA,10,56:58,41.66,8:23:05
75,RTC,[img:flags/IN.gif],65,Kartik Joshi,M,22,Indore,IND,9,54:09,37.50,7:39:31

In [236]:
df=df.drop(['',"City","State"],axis=1)
df

   Place Bib                  Name Gender Age Laps Last Loop   Miles  RaceTime
1     1.   5          Harvey Lewis      M  47  108     47:31  450.00  94:16:36
2    DNC  24            Ihor Verys      M  29  107     52:31  445.83  90:44:04
3    RTC  32        Bartosz Fudali      M  35  103     53:25  429.16  80:26:55
4    DNC  13   Terumichi Morishita      M  43  101     58:40  420.83  81:50:09
5    DNC   1             Phil Gore      M  37  100     58:45  416.66  77:17:47
..   ...  ..                   ...    ...  ..  ...       ...     ...       ...
71  OVER  35  Patryk Swietochowski      M  18   25     55:20  104.16  21:08:19
72  OVER  71            Van Da Bui      M  45   24     45:47  100.00  17:48:18
73   RTC  72   Rene Romualdo Cunha      M  44   23     48:27   95.83  16:21:39
74  OVER  47         Fabrice Puaud      M  55   10     56:58   41.66   8:23:05
75   RTC  65          Kartik Joshi      M  22    9     54:09   37.50   7:39:31

[75 rows x 9 columns]

In [237]:
df.head(10)

   Place Bib                 Name Gender Age Laps Last Loop   Miles  RaceTime
1     1.   5         Harvey Lewis      M  47  108     47:31  450.00  94:16:36
2    DNC  24           Ihor Verys      M  29  107     52:31  445.83  90:44:04
3    RTC  32       Bartosz Fudali      M  35  103     53:25  429.16  80:26:55
4    DNC  13  Terumichi Morishita      M  43  101     58:40  420.83  81:50:09
5    DNC   1            Phil Gore      M  37  100     58:45  416.66  77:17:47
6   OVER   2        Merijn Geerts      M  49  100     55:50  416.66  83:20:55
7   OVER  20             Jon Noll      M  38   98     55:23  408.33  86:54:59
8    DNC  25         Frank Gielen      M  43   97     58:04  404.16  86:30:13
9    DNC   4           Sam Harvey      M  30   91     49:03  379.16  70:29:16
10  OVER   9  Oriol Antolí Sarrau      M  40   89     59:18  370.83  79:56:19

In [238]:
url2="https://my1.raceresult.com/266852/RRPublish/data/list?key=c32693b41c83792c4af8a8bcf61c4aa0&listname=Result Lists|Lap Details&page=results&contest=0&r=all&l=0"
r=requests.get(url2)
json_laps=r.json()

In [263]:
import numpy as np
for i in range(1,109): #add columns for specific lap times
    df["Lap#"+str(i)]=pd.NA

In [264]:
df

,Place,Bib,Name,Gender,Age,Laps,Last Loop,Miles,RaceTime,Lap#1,...,Lap#99,Lap#100,Lap#101,Lap#102,Lap#103,Lap#104,Lap#105,Lap#106,Lap#107,Lap#108
1,1.,5,Harvey Lewis,M,47,108,47:31,450.00,94:16:36,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,DNC,24,Ihor Verys,M,29,107,52:31,445.83,90:44:04,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,RTC,32,Bartosz Fudali,M,35,103,53:25,429.16,80:26:55,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,DNC,13,Terumichi Morishita,M,43,101,58:40,420.83,81:50:09,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,DNC,1,Phil Gore,M,37,100,58:45,416.66,77:17:47,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,OVER,35,Patryk Swietochowski,M,18,25,55:20,104.16,21:08:19,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
72,OVER,71,Van Da Bui,M,45,24,45:47,100.00,17:48:18,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
73,RTC,72,Rene Romualdo Cunha,M,44,23,48:27,95.83,16:21:39,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
74,OVER,47,Fabrice Puaud,M,55,10,56:58,41.66,8:23:05,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
75,RTC,65,Kartik Joshi,M,22,9,54:09,37.50,7:39:31,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [265]:
df.columns[9]

'Lap#1'

In [266]:
import re
data=json_laps["data"]
patter=re.compile(r"(\/\/\/)(.+)(\/\/\/)")
for a in data:
    matc = patter.search(a)    
    name=matc.group(2)


    times=[]
    for l in data[a]:
        value=l[3] #format mm:ss, conversion en secondes
        sec=int(value[:2])*60+int(value[3:])
        times.append(sec)
        
    
    
    #df.loc[df.Name==name,"LapTime"]=str(times)
    n_laps=len(times)
    df.loc[df.Name==name,df.columns[9:9+n_laps]]=times

In [267]:
df

,Place,Bib,Name,Gender,Age,Laps,Last Loop,Miles,RaceTime,Lap#1,...,Lap#99,Lap#100,Lap#101,Lap#102,Lap#103,Lap#104,Lap#105,Lap#106,Lap#107,Lap#108
1,1.,5,Harvey Lewis,M,47,108,47:31,450.00,94:16:36,3074,...,3228,3264,3304,3267,3261,3245,3266,3182,3031,2851
2,DNC,24,Ihor Verys,M,29,107,52:31,445.83,90:44:04,3216,...,2900,3113,3018,3234,3029,2919,2959,3089,3151,<NA>
3,RTC,32,Bartosz Fudali,M,35,103,53:25,429.16,80:26:55,2937,...,3106,3176,3142,3235,3205,<NA>,<NA>,<NA>,<NA>,<NA>
4,DNC,13,Terumichi Morishita,M,43,101,58:40,420.83,81:50:09,2741,...,3333,3336,3520,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,DNC,1,Phil Gore,M,37,100,58:45,416.66,77:17:47,3092,...,3295,3525,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,OVER,35,Patryk Swietochowski,M,18,25,55:20,104.16,21:08:19,2990,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
72,OVER,71,Van Da Bui,M,45,24,45:47,100.00,17:48:18,2462,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
73,RTC,72,Rene Romualdo Cunha,M,44,23,48:27,95.83,16:21:39,2550,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
74,OVER,47,Fabrice Puaud,M,55,10,56:58,41.66,8:23:05,2877,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
75,RTC,65,Kartik Joshi,M,22,9,54:09,37.50,7:39:31,2836,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [273]:
df["Age"]= df['Age'].astype(int)
df["Bib"]= df['Bib'].astype(int)
df["Laps"]= df['Laps'].astype(int)
df["Miles"]= df['Miles'].astype(float)
for i in range(1,109):
    df['Lap#'+str(i)]=df['Lap#'+str(i)].astype('Int64') #Nullable integer

Place         object
Bib            int64
Name          object
Gender        object
Age            int64
Laps           int64
Last Loop     object
Miles        float64
RaceTime      object
Lap#1          Int64
dtype: object

In [288]:
#Convert Last Loop in Seconds
df.loc[:,"Last Loop"]=df.loc[:,"Last Loop"].apply(lambda x: 60*int(x[:2])+int(x[3:]))

In [293]:
df["Last Loop"]= df['Last Loop'].astype(int)

In [294]:
df.to_csv('test.csv')